@font-face {
    font-family:"Lato regular";
    src: local("Lato"),
    url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Lato bold";
    src: local("Lato"),
    url("../fonts/Lato/Lato-Bold.woff2") format("woff2");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Lato black";
    src: local("Lato"),
    url("../fonts/Lato/Lato-Black.woff2") format("woff2");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Lato light";
    src: local("Lato"),
    url("../fonts/Lato/Lato-Light.woff2") format("woff2");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Merriweather black";
    src: local("Merriweather"),
    url("../fonts/Merriweather/Merriweather-Black.woff2") format("woff2");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Merriweather bold";
    src: local("Merriweather"),
    url("../fonts/Merriweather/Merriweather-Bold.woff2") format("woff2");
    font-style: normal;
    font-display:swap;
}

.container {
    max-width: 1115px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 22px 24px 29px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.logo__txt {
    color: #005FA3;
    font-family: 'Merriweather black';
    font-weight: 900;
    font-size: clamp(0.625rem, 0.0833rem + 2.4074vw, 2.25rem);
    line-height: 132%;
}

body {
    color: #000;
}

.info__contacts-list {
    display: flex;
    gap: 40px;
}

.info__contacts-list-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info__contacts-text {
    color: #000;
    font-family: 'Lato regular';
    font-size: 13px;
    line-height: 132%;
}

.info__contacts-links {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.info__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.info__nav-links {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-family: 'Lato bold';
    font-size: 14;
    line-height: 132%;
}

.info__nav-links::after {
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #007bff;
    transition: 0.2s cubic-bezier(1,1,0,0);
}

.info__nav-links:hover {
    color: #007bff;
}

.info__nav-links:hover::after {
    width: 100%;
}

.welcome-slide {
    background-color: #000;
    background-image: url(../img/first_screen.png);
    padding: 170px 0px;
}

.welcome-slide__title {
    color:#FFF;
    font-family: 'Merriweather bold';
    font-size: clamp(0.625rem, 0.0769rem + 2.4359vw, 3rem);
    line-height: 138%;
    
}

.welcome-slide__button {
    padding: 19px 18px;
    width: 270px;
    min-height: 60; 
    color: #FFF;
    font-family: 'Lato regular';
    font-size: 18px;
    line-height: 138%;
    background: #005FA3;
    border: none;
    margin-top: 64px;

}

.services {
    background-color: #ebebeb;
    padding: 140px 24px;
}

.services__display-list {
    margin-top: 102px;
}

.section__title {
    color: #BDBDBD;
    font-family: 'Lato black';
    font-size: clamp(0.625rem, 0.4231rem + 0.8974vw, 1.5rem);
    line-height: 138%;
}

.section__subtitle {
    color: #333;
    font-family: 'Merriweather black';
    font-size: clamp(0.625rem, 0.0769rem + 2.4359vw, 3rem);
    line-height: 144%;
    margin-top: 40px;
}

.services__cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    margin-top: 102px;
}

.card__links {
    text-decoration: none;
    background-image: url(../img/services.png);
    background-size: cover;
    width: 260px;
    min-height: 270px;
    padding: 45px;
    display: flex;          
    align-items: flex-end;

    position: relative; 
    /* overflow: hidden */
}

.card__links::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 95, 163, 0); 
    transition: 0.3s;
    z-index: 1; 
}

.card__links:hover::before {
    background-color: rgba(0, 95, 163, 0.5); 
}

.card__links > * {
    position: relative;
    z-index: 2;
}

.card__title {
    color: #FFF;
    font-family: 'Lato black';
    font-size: clamp(0.625rem, 0.4231rem + 0.8974vw, 1.5rem);
    line-height: 126%;
}

.services_cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us {
    padding: 140px 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about-us-wrapper {
    margin-inline: auto;
}

.about-us__text {
    color:#000;
    font-family: 'Lato light';
    font-size: clamp(0.625rem, 0.5096rem + 0.5128vw, 1.125rem);
    line-height: 138%;
    width: 445px;
    margin-top: 60px;
}

.about-us-grid {
    display: grid;
    grid-template-columns: 255px 255px;
    grid-template-rows: 255px 255px;
    gap: 30px;
}

.about-us-grid__item {
    background-color: #f9f9f9;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
    position: relative;
    /* overflow: hidden; */
}

.about-us-grid__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 95, 163, 0);
    transition: 0.3s;
    z-index: 1;
}

.about-us-grid__item:hover::before {
    background-color: rgba(0, 95, 163, 1);
}

.about-us-grid__item > * {
    position: relative;
    z-index: 2;
}

.about-us-grid__item:hover .item__title{
    color: white;
}

.about-us-grid__item:hover .item__text{
    color: white;
}

.about-us-grid__item:hover .item__links {
    color: white;
}

.about-us__list-item:nth-of-type(n+3) {
    margin: 30px 0 0;
}

.item__title {
    color:#000;
    font-family: 'Lato black';
    font-size: clamp(0.625rem, -0.024rem + 2.8846vw, 3.4375rem);
    line-height: 132%;
}

.item__text {
    color:#000;
    font-family: 'Lato bold';
    font-size: clamp(0.625rem, 0.5673rem + 0.2564vw, 0.875rem);
    line-height: 132%;
    margin-top: 30px;
}

.item__links {
    color: #005FA3;
    font-family: 'Lato bold';
    font-size: clamp(0.625rem, 0.5673rem + 0.2564vw, 0.875rem);
    line-height: 132%;
    display: inline-block;
    margin-top: 47px;
}

.partners {
    background-color: #ebebeb;
    padding: 100px 0;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin: 80px 0 0;
}

.partners__slider {
    margin-top: 50px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.slider__dotes {
    display: flex;
}

.slider__dotes-item {
    background-color: #ebebeb;
    border: none;
    width: 10px;
    min-height: 10px;
    padding: 0px;
    margin: 0 40px 0 0;
    display: flex;
    align-items: flex-end;
}

.slider__arrows-item-prev {
    background: #005FA3;
    border: none;
    width: 60px;
    min-height: 60px;
    padding: 0;
}

.slider__arrows-item-next {
    background: #005FA3;
    border: none;
    width: 60px;
    min-height: 60px;
    padding: 0;
}

.feedback{
    padding: 140px 24px;
}

.feedback__subtitle{
    margin-top: 40px;
}

.feedback-card-list {
    background-color: #ebebeb;
    width: 1110px;
    min-height: 320px;
    box-sizing: border-box;
    margin-top: 80px;
}

.feedback-card-wrapper {
    background-color: #ebebeb;
    padding: 53px 109px 37px 75px;
}

.feedback-card__text{
    color:#000;
    font-family: 'Lato light';
    font-size: clamp(0.625rem, 0.5096rem + 0.5128vw, 1.125rem);
    line-height: 138%;
    min-height: 23px;
}

.feedback-card__author{
    width: 340px;
    min-height: 80px;
    margin-top: 60px;
    display: flex;
    gap: 35px;
}

.feedback-card__author-username {
    color:#000;
    font-family: 'Lato bold';
    font-size: clamp(0.625rem, 0.5096rem + 0.5128vw, 1.125rem);
    line-height: 138%;

}

.feedback-card__author-org {
    color: #4F4F4F;
    font-family: 'Lato regular';
    font-size: clamp(0.625rem, 0.5673rem + 0.2564vw, 0.875rem);
    line-height: 138%;
}

.feedback-card__author-info {
    display: flex;
    align-items: center;
}


.feedback__slider {
    margin-top: 50px;
}

.feedback__dotes-item {
    background-color: #ffffff;
}

.contacts {
    background-color: #000;
    background-image: url(../img/first_screen.png);
    padding: 122px 24px 140px ;
    display: flex;
}

.contacts__container {
    display: flex;
    gap:100px
}

.contacts__description {
    width: 554px;
}

.description__title {
    color:#FFF;
    font-family: 'Merriweather black';
    font-size: clamp(0.625rem, 0.0769rem + 2.4359vw, 3rem);
    line-height: 144%;
}

.description__subtitle {
    color:#FFF;
    font-family: 'Lato light';
    font-size: clamp(0.625rem, 0.5096rem + 0.5128vw, 1.125rem);
    line-height: 138%;
    margin-top: 60px;
}

.description-list {
    display: flex;
    margin-top: 73px;
}

.description__phone {
    margin: 0 40px 0 0;
}

.description__links {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description__img {
    margin: 0 16px 0 0;
}

.description__text{
    color:#FFF;
    font-family: 'Lato light';

    font-size: clamp(0.625rem, 0.4663rem + 0.7051vw, 1.3125rem);
    line-height: 138%;
}

.contacts__form {
    width: 554px;
    position: relative;
}

.form__button {
    width: 270px;
    min-height: 60px;
    padding: 19px 18px;
    background: #005FA3;
    border: none;
    color: #FFF;
    font-family: 'Lato regular';
    font-size: 18px;
    line-height: 138%;
}

.form__user {
    display: flex;
    gap: 30px;
}

.label-text {
    display: block;
    color: #FFF;
    font-family: "Lato regular";
    font-size: 16px;
    line-height: 138%;
}

.user__input {
    min-height: 30px;
    min-width: 255px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 0;
    font-family: "Lato light";
    font-size: 21px;
    line-height: 138%;
    color: white;
}

.form__button {
    position: absolute;
    left: 99px;
    margin-top: 50px;
}

.form__message {
    margin-top: 35px;
}

textarea {
    min-height: 105px;
    min-width: 100%;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

::placeholder {
    font-family: "Lato light";
    font-size: 21px;
    line-height: 138%;
}

.message-text {
    font-family: "Lato light";
    font-size: 21px;
    line-height: 138%;
}

input:focus, 
textarea:focus, 
select:focus {
    outline: none;
}

.addit-info {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

.addit-info-content {
    max-width: 1108px;
    width: 100%;;
    font-family: 'Lato light';
    font-size: 14px;
    line-height: 138%;
    background-image: none;
    background-color: #f9f9f9;
    padding: 50px 24px 40px 24px;
    display: flex;
    justify-content: space-between;
}

.blue-text {
    color: #005fa3;
    margin-top: 0;
}

.slider__arrows {
    display: flex;
    margin-top: 58px;
    justify-self: flex-end;
}

.swiper-pagination {
    text-align: start;
}

#my-swiper1 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 40px 0 0;
}

#my-swiper2 .swiper-pagination-bullet {
    width: 10px ;
    height: 10px ;
    margin: 0 40px 0 0 ;
}

.swiper-button-prev {
    position:static;
}

.swiper-button-next {
    position: static;
}

.swiper-button-next:after {
    content: ''; 
}

.swiper-button-prev:after {
    content: '';
}

:root {
    --swiper-navigation-size: none;
}

.open{
    display: flex !important;
}

.burger-nav {
    display: none;
}

.burger-nav__list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.burger-nav__list-item {
    color: white;
}

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger__line{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #005FA3;
    border-radius: 5px;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #005FA3;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.burger::before { 
    top: 0 
}

.burger::after { 
    bottom: 0 
}

.burger.active span { 
    transform: scale(0) 
}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 1120px) {
    .services__cards-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (max-width: 928px) {
    .services__cards-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .header__info {
        display: none;
    }

    .burger {
        display: flex;
    }

    .burger-nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
    }

    .burger-nav__list{
        flex-direction: column;
        row-gap: 30px;
    }
}

@media (max-width: 1386px) {
    .about-us__container {
        flex-wrap: wrap;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1520px) {
    .partners-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1420px) {
    .partners-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1250px) {
    .partners-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1386px) {
    .contacts__container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}
